.input-item-removing {
  animation: inputRemoving 0.5s linear;
}

@keyframes inputRemoving {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flex-transition-element {
  transition: flex 1s;
}

.hidden-solved-row {
  flex: 0;
  overflow: hidden;
}

.rebus-flex-grid {
  /* background-color: red; */
  background-color: rgba(1, 0, 0, 0);
  padding: 5px;
  display: flex;
  align-content: space-around;
}

/** ---------TESTING-------- */
.test-grid {
  /* background-color: black; */
  background-color: rgba(1, 0, 0, 0);
  display: flex;
  flex-direction: column;
}

.flex-bordered {
  /* border: 3px solid black; */
}

/*#### PRIMO LIVELLO #####*/

.flex-transitioned-div {
  transition: flex 0.5s;
}

.test-flex-img-div {
  /* background-color: red; */
  background-color: rgba(1, 0, 0, 0);
  flex-basis: 70%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.rebus-flex-div-visible {
  /* background-color: red; */
  background-color: rgba(1, 0, 0, 0);
  flex-basis: 30%;
  transition: flex-basis 0.3s ease-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: flex;
}

.rebus-flex-hidden {
  flex-basis: 0%;
}

/* ########## */

.test-flex-lateral {
  height: 100%;
  /* background-color: cyan; */
  background-color: rgba(1, 0, 0, 0);
  flex: 1;
}

.test-flex-central {
  height: 100%;
  flex: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rebus-img-container {
  /* background-color: yellowgreen; */
  background-color: rgba(1, 0, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

/** ###### REBUS INPUT #########*/

.rebus-input-container {
  /* background-color: rebeccapurple; */
  background-color: rgba(1, 0, 0, 0);
  flex-basis: 20%;
  flex-grow: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 0;
}

.rebus-input {
  color: black;
  width: 70vw;
  max-width: 70vw;
  height: 7vh;
  border-style: solid;
  border-width: 5px;
  /* border-block-width: 3px; */
  overflow-x: scroll;
  border-radius: 10px;
  border-color: #85a3b1;
  padding: 2%;
  min-height: 0;
  display: flex;
  align-items: center;
}

.typewriter h3 {
  color: var(--rebus-input-text-color);
  min-height: 0;
  font-size: 3vh;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: pre; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.ahashakeheartache {
  border-color: red;
  animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes kf_shake {
  0% {
    -moz-transform: translate(30px);
  }
  20% {
    -moz-transform: translate(-30px);
  }
  40% {
    -moz-transform: translate(15px);
  }
  60% {
    -moz-transform: translate(-15px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@-o-keyframes kf_shake {
  0% {
    -o-transform: translate(30px);
  }
  20% {
    -o-transform: translate(-30px);
  }
  40% {
    -o-transform: translate(15px);
  }
  60% {
    -o-transform: translate(-15px);
  }
  80% {
    -o-transform: translate(8px);
  }
  100% {
    -o-origin-transform: translate(0px);
  }
}

@keyframes kf_shake {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    origin-transform: translate(0px);
  }
}

/**------------------------- */

/**######## REBUS BUTTON ##########*/
.rebus-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.6rem;
  font-family: inherit;
}
.rebus-button {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: var(--rebus-button-background-color);
  /* border: 2px solid #b18597; */
  border: 2px solid var(--rebus-button-base-color);
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
.rebus-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--rebus-button-bkg-color-before);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--rebus-button-base-color),
    0 0.625em 0 0 var(--rebus-button-base-color1);
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  -webkit-transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
.rebus-button:hover {
  background: var(--rebus-button-bkg-color-active);
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}
.rebus-button:hover::before {
  box-shadow: 0 0 0 2px var(--rebus-button-base-color),
    0 0.5em 0 0 var(--rebus-button-base-color1);
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}
.rebus-button:active {
  background: var(--rebus-button-bkg-color-active);
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}
.rebus-button:active::before {
  box-shadow: 0 0 0 2px var(--rebus-button-base-color),
    0 0 var(--rebus-button-base-color1);
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

/**--------------------------------*/
