.input-item-removing {
  animation: inputRemoving 0.5s linear;
}

@keyframes inputRemoving {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flex-transition-element {
  transition: flex 1s;
}

.hidden-solved-row {
  flex: 0;
  overflow: hidden;
}

.rebus-flex-grid {
  /* background-color: red; */
  background-color: rgba(1, 0, 0, 0);
  padding: 5px;
  display: flex;
  align-content: space-around;
}

/** ---------TESTING-------- */
.test-grid {
  /* background-color: black; */
  background-color: rgba(1, 0, 0, 0);
  display: flex;
  flex-direction: column;
}

.flex-bordered {
  /* border: 3px solid black; */
}

/*#### PRIMO LIVELLO #####*/

.flex-transitioned-div {
  transition: flex 0.5s;
}

.test-flex-img-div {
  /* background-color: red; */
  background-color: rgba(1, 0, 0, 0);
  flex-basis: 70%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.rebus-flex-div-visible {
  /* background-color: red; */
  background-color: rgba(1, 0, 0, 0);
  flex-basis: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rebus-flex-hidden {
  flex: 0;
}

/* ########## */

.test-flex-lateral {
  height: 100%;
  /* background-color: cyan; */
  background-color: rgba(1, 0, 0, 0);
  flex: 1;
}

.test-flex-central {
  height: 100%;
  flex: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rebus-img-container {
  /* background-color: yellowgreen; */
  background-color: rgba(1, 0, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.rebus-input-container {
  /* background-color: rebeccapurple; */
  background-color: rgba(1, 0, 0, 0);
  flex-basis: 20%;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.rebus-input {
  font-family: "Courier New", Courier, monospace;
  color: black;
  width: 70%;
  height: 4vh;
  border-radius: 67px;
  border-color: #00ffff;
  padding-left: 2%;
  min-height: 0;
}

.ahashakeheartache {
  border-color: red;
  animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes kf_shake {
  0% {
    -moz-transform: translate(30px);
  }
  20% {
    -moz-transform: translate(-30px);
  }
  40% {
    -moz-transform: translate(15px);
  }
  60% {
    -moz-transform: translate(-15px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@-o-keyframes kf_shake {
  0% {
    -o-transform: translate(30px);
  }
  20% {
    -o-transform: translate(-30px);
  }
  40% {
    -o-transform: translate(15px);
  }
  60% {
    -o-transform: translate(-15px);
  }
  80% {
    -o-transform: translate(8px);
  }
  100% {
    -o-origin-transform: translate(0px);
  }
}

@keyframes kf_shake {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    origin-transform: translate(0px);
  }
}

/**------------------------- */
